/* Sticky footer styles. Make the html, body, and layoutView.el (div) all be 100% tall */
html, body, body > div {
  height: 100%;
}
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -80px;
  /* Pad bottom by footer height + 25px for some white space before the footer */
  padding: 0 0 115px;
}
/* Set the fixed height of the footer here */
footer {
  height: 80px;
  background-color: #fdfdfd;
  border-top: 1px solid #e1e1e8;
}
footer > .container {
  /* Pad the text in the footer */
  padding-top: 20px;
}
footer ul a, footer .text-muted {
  color: #777;
}

.navbar,
.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:hover {
  background-color: #2f83d0;
  color: #fff;
  text-shadow: 0px 1px 0px #215b90;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav > li > a:hover {
  text-shadow: 0px 1px 2px #215b90;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  color: #fff;
  background-color: #2b79c0;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

a, a:hover {
  color: #007fff;
}

/* Make the footer taller when viewed on a phone */
@media (max-width: 480px) {
  footer {
    height: 115px;
  }
}

/* Code */
pre {
  background-color: #fdfdfd;
  border: #e1e1e8 1px solid;
  border-radius: 3px;
}

/* Search */
#search {
  margin-bottom: 10px;
  text-shadow: none;
  border-radius: 4px;
  box-shadow: 0px 1px 0px #2465a0;
}
#search span, #search input {
  box-shadow: none;
  border: none;
}
#search .form-control:focus {
  box-shadow: inset 0 0 1px #777;
}
#search #searchResults {
  position: absolute;
  width: 1060px;
  padding: 10px;
  margin-left: 37px;
  color: #333;
  text-shadow: none;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 1px 4px rgba(0,0,0,0.05);
}
#search .searchResultItem {
  padding: 5px;
}
#search .searchResultItem:hover {
  background-color: #ebebeb;
}
#search .searchResultItem span {
  display: inline-block;
}
#search .searchResultItem .name {
  width: 26%;
  color: #777;
}

/* API Sequence */
#api-sequence-menu {
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  margin-bottom: 40px;
}
#api-sequence-menu ul {
  list-style-type: none;
  margin-left: -40px;
  border-bottom: 1px dotted #ddd;
}
#api-sequence-menu li {
  padding: 10px 5px;
  border-top: 1px dotted #ddd;
}
#api-sequence-menu li:hover {
  background-color: #ebebeb;
}
#api-sequence-menu > button {
  width: 48%;
}
@media (max-width: 767px) {
  #api-sequence-menu {
    position: static;
  }
}

/* XHR Panel */
.xhr-panel select {
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.xhr-panel select::-ms-expand {
  display: none;
}
.xhr-panel input {
  border: none;
  width: 80%;
}
.xhr-panel .uri {
  padding: 5px;
  background-color: #fdfdfd;
  border: #e1e1e8 1px solid;
  border-radius: 3px;
}
.xhr-panel code:focus {
  border: 1px solid black;
}
.xhr-panel #showMoreButton {
  width: 100%;
}
@media (max-width: 991px) {
  .xhr-panel input {
    width: 73%;
  }
}
@media (max-width: 767px) {
  .xhr-panel input {
    width: 62%;
  }
}
