/* Sticky footer styles
 *
 * Make the html, body, and layoutView.el (div) all be 100% tall
 */
html, body, body > div {
  height: 100%;
}
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -80px;
  /* Pad bottom by footer height + 25px for some white space before the footer */
  padding: 0 0 115px;
}
/* Set the fixed height of the footer here */
#main-footer {
  height: 80px;
  background-color: #fdfdfd;
  border-top: 1px solid #e1e1e8;
}
#main-footer > .container {
  /* Pad the text in the footer */
  padding-top: 20px;
}

/* navbar */
header.navbar {
  background-color: #3a8aea;
  color: #fff;
  border: none;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-brand:hover {
  background-color: #237ce8;
  color: #fff;
}

/* suri brand */
span.brand {
  color: #1564c3;
}
.navbar-brand {
  font-size: 2em;
  line-height: 15px;
}
.navbar-default .navbar-brand:hover {
  background-color: #3a8aea;
}

/* links */
a, a:hover {
  color: #007fff;
}

/* Make the footer taller to fit 3 lines of text when viewed on a phone */
@media (max-width: 480px) {
  #footer {
    height: 95px;
  }
}
